span{
    color: rgb(174, 220, 82);
    background-color: rgb(214, 174, 100);
    font-size: 30px;
    margin-left: 400px;
}

.contents{
    font-size: 20px;
}

body{
    background-color: rgb(104, 158, 145);
}

.first-div{
  margin-top: 70px;
}

.second-div{
    margin-top: 40px;
}